.img__profile {
	background-color: #fff;
	border: solid 5px #007bb5;
}

#link__icon,
.link__title,
.img__profile {
	box-shadow: 3px 2px 3px #fff;
}

.link__title:hover,
.link__title:hover .link__name,
.content__info,
.last__name {
	color: #fff;
}

#link__icon,
.link__title:hover,
.link__title:hover .link__name {
	background: #007bb5;
}

#link__icon,
.link__title {
	box-shadow: 2px 1px 2px #fff;
}

.link__title {
	background: #fff;
}

.code {
	color: #fff;
}
